# Trabajo práctico Nro 1

In [36]:
# Importo librerías
import pandas as pd
import numpy as np
import matplotlib
import seaborn
from sklearn.tree import DecisionTreeClassifier

%matplotlib inline

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [47]:
# Levanto el dataset y hago un par de chequeos

hotel_bookings = pd.read_csv('Data/hotel_bookings.csv')
hotel_bookings.sample(10)

               hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  stays_in_weekend_nights  stays_in_week_nights  adults  children  babies meal country market_segment distribution_channel  is_repeated_guest  previous_cancellations  previous_bookings_not_canceled reserved_room_type assigned_room_type  booking_changes deposit_type  agent  company  days_in_waiting_list    customer_type     adr  required_car_parking_spaces  total_of_special_requests reservation_status reservation_status_date
36060   Resort Hotel            0          0               2017                May                        19                          7                        1                     0       2       0.0       0   BB     BRA      Online TA                TA/TO                  0                       0                               0                  A                  D                0   No Deposit  240.0      NaN                     0        Transient   60.00                            1                          2          Check-Out              2017-05-08
95266     City Hotel            0          9               2016             August                        34                         14                        2                     1       2       0.0       0   BB     BEL      Online TA                TA/TO                  0                       0                               0                  A                  A                0   No Deposit    7.0      NaN                     0        Transient  125.27                            1                          1          Check-Out              2016-08-17
19564   Resort Hotel            0         18               2015           December                        52                         26                        0                     1       2       0.0       0   HB     PRT         Direct               Direct                  0                       0                               0                  A                  D                0   No Deposit  250.0      NaN                     0        Transient   80.00                            0                          0          Check-Out              2015-12-27
66379     City Hotel            1        281               2017              April                        16                         18                        0                     4       2       0.0       0   BB     DEU      Online TA                TA/TO                  0                       0                               0                  A                  A                0   No Deposit    9.0      NaN                     0        Transient  109.80                            0                          1           Canceled              2016-08-23
107188    City Hotel            0         60               2017              March                        10                          5                        2                     2       2       0.0       0   BB     GBR      Online TA                TA/TO                  0                       0                               0                  D                  D                2   No Deposit    9.0      NaN                     0        Transient  100.30                            0                          3          Check-Out              2017-03-09
80887     City Hotel            0         73               2015           November                        48                         24                        0                     3       1       0.0       0   BB     PRT  Offline TA/TO                TA/TO                  0                       0                               0                  A                  D                1   No Deposit   12.0      NaN                    27  Transient-Party   67.83                            0                          0          Check-Out              2015-11-27
108198    City Hotel            0          2               2017              March                        12                         22                        0                     2       1       0.0       0   BB     ESP      Online TA                TA/TO                  0                       0                               0                  A                  A                0   No Deposit    9.0      NaN                     0        Transient  103.50                            0                          1          Check-Out              2017-03-24
16846   Resort Hotel            0        254               2015          September                        37                         12                        2                     2       2       0.0       0   BB      CN         Groups                TA/TO                  0                       0                               0                  A                  A                1   No Deposit   15.0      NaN                     0  Transient-Party   36.00                            0                          0          Check-Out              2015-09-16
104596    City Hotel            0         10               2017            January                         3                         15                        2                     2       1       0.0       0   BB     PRT      Corporate            Corporate                  0                       0                               0                  A                  A                1   No Deposit    NaN     40.0                     0        Transient   65.00                            0                          0          Check-Out              2017-01-19
33157   Resort Hotel            0         29               2017           February                         7                         14                        0                     3       2       0.0       0   BB     GBR      Online TA                TA/TO                  0                       0                               0                  A                  A                0   No Deposit  240.0      NaN                     0        Transient   48.00                            0                          1          Check-Out              2017-02-17

In [3]:
hotel_bookings.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

### a) A partir de los datos entregados, describir los atributos realizando una breve explicación de qué representan y del tipo de variable (categórica, numérica u ordinal). En caso de que haya variables no numéricas, reportar los posibles valores que toman y cuán frecuentemente lo hacen.

In [4]:
# Tipos de datos por columna

hotel_bookings.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [5]:
# Tomo las variables categóticas y cuento frecuencias

vars_categoricas = hotel_bookings.select_dtypes(exclude=['int64', 'float64']).columns

for v in vars_categoricas:
    df_categorica = pd.DataFrame(hotel_bookings[v].value_counts())
    display(df_categorica)

              hotel
City Hotel    79330
Resort Hotel  40060

           arrival_date_month
August                  13877
July                    12661
May                     11791
October                 11160
April                   11089
June                    10939
September               10508
March                    9794
February                 8068
November                 6794
December                 6780
January                  5929

            meal
BB         92310
HB         14463
SC         10650
Undefined   1169
FB           798

     country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
..       ...
MDG        1
GUY        1
SLE        1
SDN        1
DMA        1

[177 rows x 1 columns]

               market_segment
Online TA               56477
Offline TA/TO           24219
Groups                  19811
Direct                  12606
Corporate                5295
Complementary             743
Aviation                  237
Undefined                   2

           distribution_channel
TA/TO                     97870
Direct                    14645
Corporate                  6677
GDS                         193
Undefined                     5

   reserved_room_type
A               85994
D               19201
E                6535
F                2897
G                2094
B                1118
C                 932
H                 601
P                  12
L                   6

   assigned_room_type
A               74053
D               25322
E                7806
F                3751
G                2553
C                2375
B                2163
H                 712
I                 363
K                 279
P                  12
L                   1

            deposit_type
No Deposit        104641
Non Refund         14587
Refundable           162

                 customer_type
Transient                89613
Transient-Party          25124
Contract                  4076
Group                      577

           reservation_status
Check-Out               75166
Canceled                43017
No-Show                  1207

            reservation_status_date
2015-10-21                     1461
2015-07-06                      805
2016-11-25                      790
2015-01-01                      763
2016-01-18                      625
...                             ...
2015-03-18                        1
2015-01-28                        1
2015-03-29                        1
2015-02-24                        1
2015-05-15                        1

[926 rows x 1 columns]

#### Falta describir qué representa cada variable y qué tipo tiene entre las opciones que ofrece (categórica, numérica u ordinal)

### b) Reportar si hay valores faltantes. ¿Cuántos son y en qué atributos se encuentran? En caso de haberlos, ¿es necesario y posible asignarles un valor?

In [33]:
# Primero cuento las columnas con NaN

cols_con_faltantes = hotel_bookings.isna().sum()
cols_con_faltantes = cols_con_faltantes[cols_con_faltantes!=0]
cols_con_faltantes

children         4
country        488
agent        16340
company     112593
dtype: int64

##### Children

In [37]:
hotel_bookings[hotel_bookings['children'].isna()]

            hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  stays_in_weekend_nights  stays_in_week_nights  adults  children  babies meal country market_segment distribution_channel  is_repeated_guest  previous_cancellations  previous_bookings_not_canceled reserved_room_type assigned_room_type  booking_changes deposit_type  agent  company  days_in_waiting_list    customer_type   adr  required_car_parking_spaces  total_of_special_requests reservation_status reservation_status_date
40600  City Hotel            1          2               2015             August                        32                          3                        1                     0       2       NaN       0   BB     PRT      Undefined            Undefined                  0                       0                               0                  B                  B                0   No Deposit    NaN      NaN                     0  Transient-Party  12.0                            0                          1           Canceled              2015-08-01
40667  City Hotel            1          1               2015             August                        32                          5                        0                     2       2       NaN       0   BB     PRT         Direct            Undefined                  0                       0                               0                  B                  B                0   No Deposit   14.0      NaN                     0  Transient-Party  12.0                            0                          1           Canceled              2015-08-04
40679  City Hotel            1          1               2015             August                        32                          5                        0                     2       3       NaN       0   BB     PRT      Undefined            Undefined                  0                       0                               0                  B                  B                0   No Deposit    NaN      NaN                     0  Transient-Party  18.0                            0                          2           Canceled              2015-08-04
41160  City Hotel            1          8               2015             August                        33                         13                        2                     5       2       NaN       0   BB     PRT      Online TA            Undefined                  0                       0                               0                  B                  B                0   No Deposit    9.0      NaN                     0  Transient-Party  76.5                            0                          1           Canceled              2015-08-09

In [44]:
hotel_bookings[(hotel_bookings['hotel'] == 'City Hotel') &
               (hotel_bookings['arrival_date_year'] == 2015) &
               (hotel_bookings['arrival_date_month'] == 'August') &
               (hotel_bookings['meal'] == 'BB') &
               (hotel_bookings['country'] == 'PRT') &
               (hotel_bookings['distribution_channel'] == 'Undefined')
              ]

            hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  stays_in_weekend_nights  stays_in_week_nights  adults  children  babies meal country market_segment distribution_channel  is_repeated_guest  previous_cancellations  previous_bookings_not_canceled reserved_room_type assigned_room_type  booking_changes deposit_type  agent  company  days_in_waiting_list    customer_type   adr  required_car_parking_spaces  total_of_special_requests reservation_status reservation_status_date
40600  City Hotel            1          2               2015             August                        32                          3                        1                     0       2       NaN       0   BB     PRT      Undefined            Undefined                  0                       0                               0                  B                  B                0   No Deposit    NaN      NaN                     0  Transient-Party  12.0                            0                          1           Canceled              2015-08-01
40667  City Hotel            1          1               2015             August                        32                          5                        0                     2       2       NaN       0   BB     PRT         Direct            Undefined                  0                       0                               0                  B                  B                0   No Deposit   14.0      NaN                     0  Transient-Party  12.0                            0                          1           Canceled              2015-08-04
40679  City Hotel            1          1               2015             August                        32                          5                        0                     2       3       NaN       0   BB     PRT      Undefined            Undefined                  0                       0                               0                  B                  B                0   No Deposit    NaN      NaN                     0  Transient-Party  18.0                            0                          2           Canceled              2015-08-04
41160  City Hotel            1          8               2015             August                        33                         13                        2                     5       2       NaN       0   BB     PRT      Online TA            Undefined                  0                       0                               0                  B                  B                0   No Deposit    9.0      NaN                     0  Transient-Party  76.5                            0                          1           Canceled              2015-08-09

Parecen ser registros de los primeros donde no se guardaban necesariamente todos los datos. La mayoría parecen ser cancelados por lo que no habría que sacarlos. Al ser pocos no hace falta llenarlos o se podrían imputar con cualquier método

##### Country

In [60]:
faltante_pais =  hotel_bookings[hotel_bookings['country'].isna()]
faltante_pais

               hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  stays_in_weekend_nights  stays_in_week_nights  adults  children  babies meal country market_segment distribution_channel  is_repeated_guest  previous_cancellations  previous_bookings_not_canceled reserved_room_type assigned_room_type  booking_changes deposit_type  agent  company  days_in_waiting_list    customer_type    adr  required_car_parking_spaces  total_of_special_requests reservation_status reservation_status_date
30      Resort Hotel            0        118               2015               July                        27                          1                        4                    10       1       0.0       0   BB     NaN         Direct               Direct                  0                       0                               0                  A                  A                2   No Deposit    NaN      NaN                     0        Transient   62.0                            0                          2          Check-Out              2015-07-15
4127    Resort Hotel            1          0               2016           February                         8                         15                        0                     0       0       0.0       0   SC     NaN  Offline TA/TO                TA/TO                  0                       0                               0                  P                  P                0   No Deposit    NaN    383.0                     0        Transient    0.0                            0                          0           Canceled              2016-02-15
7092    Resort Hotel            1          8               2016               July                        30                         21                        0                     1       1       0.0       0   BB     NaN      Corporate            Corporate                  0                       0                               0                  A                  A                0   No Deposit    NaN    204.0                     0        Transient   73.0                            0                          2           Canceled              2016-07-20
7860    Resort Hotel            1         39               2016             August                        36                         30                        0                     5       2       0.0       0   HB     NaN         Direct               Direct                  0                       0                               0                  A                  A                0   No Deposit    NaN      NaN                     0        Transient  159.0                            0                          5           Canceled              2016-07-22
8779    Resort Hotel            1          0               2016            October                        42                         13                        0                     1       1       0.0       0   BB     NaN      Corporate            Corporate                  0                       0                               0                  A                  A                0   No Deposit    NaN    457.0                     0        Transient   50.0                            0                          0           Canceled              2016-10-13
...              ...          ...        ...                ...                ...                       ...                        ...                      ...                   ...     ...       ...     ...  ...     ...            ...                  ...                ...                     ...                             ...                ...                ...              ...          ...    ...      ...                   ...              ...    ...                          ...                        ...                ...                     ...
65908     City Hotel            1          0               2017              April                        15                         10                        0                     0       0       0.0       0   SC     NaN  Complementary            Corporate                  0                       0                               0                  P                  P                0   No Deposit    NaN    279.0                     0        Transient    0.0                            0                          0           Canceled              2017-04-10
65909     City Hotel            1          0               2017              April                        15                         10                        0                     0       0       0.0       0   SC     NaN  Complementary            Corporate                  0                       0                               0                  P                  P                0   No Deposit    NaN    279.0                     0        Transient    0.0                            0                          0           Canceled              2017-04-10
65910     City Hotel            1          0               2017              April                        15                         10                        0                     0       0       0.0       0   SC     NaN  Complementary            Corporate                  0                       0                               0                  P                  P                0   No Deposit    NaN    279.0                     0        Transient    0.0                            0                          0           Canceled              2017-04-10
80830     City Hotel            0          4               2015           November                        48                         23                        1                     2       1       0.0       0   BB     NaN         Groups                TA/TO                  0                       0                               0                  A                  A                0   No Deposit   37.0      NaN                     0  Transient-Party   70.0                            0                          0          Check-Out              2015-11-26
101488    City Hotel            0          1               2016           November                        47                         13                        2                     2       2       0.0       0   BB     NaN         Direct               Direct                  0                       0                               0                  A                  A                0   No Deposit   14.0      NaN                     0            Group  105.0                            0                          1          Check-Out              2016-11-17

[488 rows x 32 columns]

In [71]:
# Tomo las variables categóticas y cuento frecuencias relativas

vars_categoricas = hotel_bookings.select_dtypes(exclude=['int64', 'float64']).columns

for v in vars_categoricas:
    df_categorica = pd.DataFrame(hotel_bookings[v].value_counts() / hotel_bookings[v].count())
    display(df_categorica)

                 hotel
City Hotel    0.664461
Resort Hotel  0.335539

           arrival_date_month
August               0.116233
July                 0.106047
May                  0.098760
October              0.093475
April                0.092880
June                 0.091624
September            0.088014
March                0.082034
February             0.067577
November             0.056906
December             0.056789
January              0.049661

               meal
BB         0.773180
HB         0.121141
SC         0.089203
Undefined  0.009791
FB         0.006684

      country
PRT  0.408656
GBR  0.102008
FRA  0.087593
ESP  0.072059
DEU  0.061286
..        ...
MDG  0.000008
GUY  0.000008
SLE  0.000008
SDN  0.000008
DMA  0.000008

[177 rows x 1 columns]

               market_segment
Online TA            0.473046
Offline TA/TO        0.202856
Groups               0.165935
Direct               0.105587
Corporate            0.044350
Complementary        0.006223
Aviation             0.001985
Undefined            0.000017

           distribution_channel
TA/TO                  0.819750
Direct                 0.122665
Corporate              0.055926
GDS                    0.001617
Undefined              0.000042

   reserved_room_type
A            0.720278
D            0.160826
E            0.054737
F            0.024265
G            0.017539
B            0.009364
C            0.007806
H            0.005034
P            0.000101
L            0.000050

   assigned_room_type
A            0.620261
D            0.212095
E            0.065382
F            0.031418
G            0.021384
C            0.019893
B            0.018117
H            0.005964
I            0.003040
K            0.002337
P            0.000101
L            0.000008

            deposit_type
No Deposit      0.876464
Non Refund      0.122179
Refundable      0.001357

                 customer_type
Transient             0.750591
Transient-Party       0.210436
Contract              0.034140
Group                 0.004833

           reservation_status
Check-Out            0.629584
Canceled             0.360307
No-Show              0.010110

            reservation_status_date
2015-10-21                 0.012237
2015-07-06                 0.006743
2016-11-25                 0.006617
2015-01-01                 0.006391
2016-01-18                 0.005235
...                             ...
2015-03-18                 0.000008
2015-01-28                 0.000008
2015-03-29                 0.000008
2015-02-24                 0.000008
2015-05-15                 0.000008

[926 rows x 1 columns]

In [72]:
for v in vars_categoricas:
    df_categorica = pd.DataFrame(faltante_pais[v].value_counts() / faltante_pais[v].count()) 
    display(df_categorica)

                hotel
Resort Hotel  0.95082
City Hotel    0.04918

           arrival_date_month
October              0.133197
February             0.114754
March                0.112705
January              0.112705
December             0.106557
April                0.090164
November             0.086066
September            0.084016
July                 0.067623
August               0.043033
May                  0.024590
June                 0.024590

               meal
BB         0.907787
HB         0.059426
SC         0.024590
Undefined  0.008197

Empty DataFrame
Columns: [country]
Index: []

               market_segment
Corporate            0.377049
Direct               0.321721
Online TA            0.151639
Offline TA/TO        0.120902
Complementary        0.018443
Groups               0.010246

           distribution_channel
Corporate              0.381148
Direct                 0.331967
TA/TO                  0.286885

   reserved_room_type
A            0.805328
E            0.077869
D            0.057377
G            0.022541
P            0.020492
F            0.014344
C            0.002049

   assigned_room_type
A            0.389344
D            0.319672
E            0.139344
C            0.043033
F            0.038934
G            0.028689
P            0.020492
I            0.012295
H            0.008197

            deposit_type
No Deposit      0.971311
Non Refund      0.028689

                 customer_type
Transient             0.899590
Transient-Party       0.086066
Group                 0.014344

           reservation_status
Check-Out            0.862705
Canceled             0.129098
No-Show              0.008197

            reservation_status_date
2015-09-16                 0.028689
2015-06-17                 0.018443
2016-02-04                 0.014344
2016-04-28                 0.014344
2016-01-15                 0.014344
...                             ...
2015-09-11                 0.002049
2016-06-20                 0.002049
2015-08-24                 0.002049
2016-12-18                 0.002049
2016-10-12                 0.002049

[293 rows x 1 columns]

Acá al revés... tienen mucho más frecuencia los no cancelados

In [66]:
faltante_pais.describe()

       is_canceled   lead_time  arrival_date_year  arrival_date_week_number  arrival_date_day_of_month  stays_in_weekend_nights  stays_in_week_nights      adults    children      babies  is_repeated_guest  previous_cancellations  previous_bookings_not_canceled  booking_changes       agent     company  days_in_waiting_list         adr  required_car_parking_spaces  total_of_special_requests
count   488.000000  488.000000         488.000000                488.000000                 488.000000               488.000000            488.000000  488.000000  488.000000  488.000000         488.000000              488.000000                      488.000000       488.000000  154.000000  174.000000                 488.0  488.000000                   488.000000                 488.000000
mean      0.137295   31.741803        2015.897541                 26.786885                  15.231557                 0.612705              2.053279    1.368852    0.026639    0.008197           0.008197                0.081967                        1.469262         0.209016  186.454545  175.637931                   0.0   60.486824                     0.217213                   0.487705
std       0.344512   64.022254           0.658037                 16.951303                   8.882860                 1.438543              3.316506    0.539234    0.184923    0.110693           0.090256                0.296181                        3.126209         0.525881  106.703614  111.817931                   0.0   45.194175                     0.412772                   0.818079
min       0.000000    0.000000        2015.000000                  1.000000                   1.000000                 0.000000              0.000000    0.000000    0.000000    0.000000           0.000000                0.000000                        0.000000         0.000000    5.000000    9.000000                   0.0    0.000000                     0.000000                   0.000000
25%       0.000000    0.750000        2015.000000                 10.000000                   8.000000                 0.000000              1.000000    1.000000    0.000000    0.000000           0.000000                0.000000                        0.000000         0.000000   96.000000   94.000000                   0.0   35.000000                     0.000000                   0.000000
50%       0.000000    4.000000        2016.000000                 28.000000                  15.000000                 0.000000              1.000000    1.000000    0.000000    0.000000           0.000000                0.000000                        0.000000         0.000000  240.000000  154.000000                   0.0   46.500000                     0.000000                   0.000000
75%       0.000000   16.250000        2016.000000                 43.000000                  23.000000                 1.000000              2.000000    2.000000    0.000000    0.000000           0.000000                0.000000                        2.000000         0.000000  240.000000  269.000000                   0.0   65.000000                     0.000000                   1.000000
max       1.000000  267.000000        2017.000000                 53.000000                  31.000000                19.000000             50.000000    3.000000    2.000000    2.000000           1.000000                2.000000                       29.000000         4.000000  468.000000  490.000000                   0.0  305.000000                     1.000000                   5.000000

In [67]:
hotel_bookings.describe()

         is_canceled      lead_time  arrival_date_year  arrival_date_week_number  arrival_date_day_of_month  stays_in_weekend_nights  stays_in_week_nights         adults       children         babies  is_repeated_guest  previous_cancellations  previous_bookings_not_canceled  booking_changes          agent      company  days_in_waiting_list            adr  required_car_parking_spaces  total_of_special_requests
count  119390.000000  119390.000000      119390.000000             119390.000000              119390.000000            119390.000000         119390.000000  119390.000000  119386.000000  119390.000000      119390.000000           119390.000000                   119390.000000    119390.000000  103050.000000  6797.000000         119390.000000  119390.000000                119390.000000              119390.000000
mean        0.370416     104.011416        2016.156554                 27.165173                  15.798241                 0.927599              2.500302       1.856403       0.103890       0.007949           0.031912                0.087118                        0.137097         0.221124      86.693382   189.266735              2.321149     101.831122                     0.062518                   0.571363
std         0.482918     106.863097           0.707476                 13.605138                   8.780829                 0.998613              1.908286       0.579261       0.398561       0.097436           0.175767                0.844336                        1.497437         0.652306     110.774548   131.655015             17.594721      50.535790                     0.245291                   0.792798
min         0.000000       0.000000        2015.000000                  1.000000                   1.000000                 0.000000              0.000000       0.000000       0.000000       0.000000           0.000000                0.000000                        0.000000         0.000000       1.000000     6.000000              0.000000      -6.380000                     0.000000                   0.000000
25%         0.000000      18.000000        2016.000000                 16.000000                   8.000000                 0.000000              1.000000       2.000000       0.000000       0.000000           0.000000                0.000000                        0.000000         0.000000       9.000000    62.000000              0.000000      69.290000                     0.000000                   0.000000
50%         0.000000      69.000000        2016.000000                 28.000000                  16.000000                 1.000000              2.000000       2.000000       0.000000       0.000000           0.000000                0.000000                        0.000000         0.000000      14.000000   179.000000              0.000000      94.575000                     0.000000                   0.000000
75%         1.000000     160.000000        2017.000000                 38.000000                  23.000000                 2.000000              3.000000       2.000000       0.000000       0.000000           0.000000                0.000000                        0.000000         0.000000     229.000000   270.000000              0.000000     126.000000                     0.000000                   1.000000
max         1.000000     737.000000        2017.000000                 53.000000                  31.000000                19.000000             50.000000      55.000000      10.000000      10.000000           1.000000               26.000000                       72.000000        21.000000     535.000000   543.000000            391.000000    5400.000000                     8.000000                   5.000000

Parece que son menos huéspedes (adultos y niños) y que pasan menos noches. Piden comidas en formato Bed & Breakfast. Suelen ser corporativos. Sin depósitos. Menos cancelaciones. Tienen menos reservas a través de agentes y más a través de companias. 

Hipótesis: Son clientes corporativos de empresas multinacionales. Por eso se registra menos el país de origen.

##### Agent y Company

In [80]:
hotel_bookings[(hotel_bookings['agent'].isna()) & (hotel_bookings['agent'].notna())]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

In [78]:
hotel_bookings[(hotel_bookings['agent'].notna()) & (hotel_bookings['agent'].isna())]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

No hay casos en los que estén ambos compos.

Estos campos parecerían indicar el id del agente/compañia a través del cual se hizo la reserva. Un faltante indicaría entonces que la reserva se hizo directa. 

De ser así el caso no sé si conviene dejarlo en nan o poner un cero. Otra opción es crear otra columna que indique si la reserva fue hecha a través de agente, de compañía o directa

### b) Reportar si hay valores faltantes. ¿Cuántos son y en qué atributos se encuentran? En caso de haberlos, ¿es necesario y posible asignarles un valor?